.fe-layout {
    &_header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background-color: #fff;
        z-index: 100;
    }

    .app-name {
        float: left;
        line-height: 50px;
        font-weight: bold;
    }

    nav {
        float: right;
        line-height: 50px;

        ul {
            li {
                display: inline-block;
                vertical-align: middle;
                margin-left: 10px;
                list-style-type: none;
            }
        }
    }
}